openapi: 3.0.0
info:
  contact:
    email: support@whispir.com
    name: Whispir Support
    url: https://www.whispir.com/support
  description: Whispir Platform API for cross channel and multi channel communications.
    Documentation on each endpoint is available at https://developers.whispir.com.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.whispir.com/terms-of-service
  title: Whispir Platform API
  version: 1.1.1
  x-release-please-start-version: true
  x-release-please-end: true
externalDocs:
  description: API Documentation for Whispir Platform API
  url: https://developers.whispir.com
servers:
- description: Australia
  url: https://api.au.whispir.com
- description: Singapore
  url: https://api.ap.whispir.com
- description: AP1
  url: https://api.ap1.whispir.com
- description: New Zealand
  url: https://api.nz.whispir.com
- description: United States
  url: https://api.us.whispir.com
- description: IT
  url: https://api.it.whispir.com
- description: Education
  url: https://api.education.whispir.com
security:
- BasicAuth: []
  ApiKeyAuth: []
- BearerAuth: []
  ApiKeyAuth: []
tags:
- description: Communications are the core of what the Whispir Platform API offers
    as a service to customers.
  externalDocs:
    url: https://developers.whispir.com/c2NoOjE0NDgyNjQ-message
  name: Messages
- description: "Using Whispir’s API, one can submit data payloads to be stored by\
    \ Whispir and used in various API calls. These files are uploaded through the\
    \ /resources endpoint."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjI0NTEwMjA-resource
  name: Resources
- description: "Using the Whispir Platform API, messages can be stored as Message\
    \ Templates that can be easily referenced within your API calls."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM0ODAzNDA4-template
  name: Templates
- description: Using Response Rules in combination with Message Templates allows users
    to automatically group responses to messages into different response groups for
    reporting purposes.
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTA1-response-rule
  name: Response Rules
- description: "Contacts form the core of the Whispir offerings. They make up the\
    \ base data to which and from which all communications are performed. The Whispir\
    \ API provides secure cloud based storage for your contact information. This can\
    \ then easily be retrieved by any application or device that requires access,\
    \ and has permission to do so."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM0ODAzNDA5-contact
  name: Contacts
- description: Whispir’s API allows users to categorise their contacts into different
    groups to simplify the distribution of messages.
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTE5-distribution-list
  name: Distribution Lists
- description: "Scenarios allows users to simplify the message delivery processes\
    \ through automated one click communications. The process involves creating a\
    \ fixed message or a message template combined with a contact or a distribution\
    \ list. When the scenario is executed, the message is sent to the contacts."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTIw-scenario
  name: Scenarios
- description: Whispir utilises API Callbacks to send simple notifications to different
    registered services in the event that some change has occurred on the Whispir
    Platform.
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTIx-callback
  name: Callbacks
- description: "Workspace allows application developers to create new work areas for\
    \ the varying use cases of their application. They provides different functions\
    \ that can be provided to users of the application, e.g. creating messages, executing\
    \ scenarios, or viewing distribution lists."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTI0-workspace
  name: Workspaces
- description: "Activities are all the individual changes, tasks, calls, messages..\
    \ just about everything performed in a given company workspaces. Each Activity\
    \ log entry contains information about the workspace, the module (message, email,\
    \ IVR..), the user who performed it, time stamps, description of the activity,\
    \ and its status (success, fail) etc."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjQ2MzAxMjM-activity
  name: Activities
- description: Custom Lists are user specific translations or preferred options in
    the various list controls used in the platform tool. These provide the freedom
    for the user to customize the list options in various modules like Messages and
    Events. These custom list either can complement or completely overwrite the existing
    list items.
  externalDocs:
    url: https://developers.whispir.com/b3A6Mzg5NDM5NzY-list-custom-lists
  name: Custom Lists
- description: "Access to use the Whispir API, Platform and its features is strictly\
    \ limited to user permission set. One needs to have proper permissions to access\
    \ all the features provided by the platform, and when using the API, have appropriate\
    \ permissions to modify the user attributes of themselves or others in their company\
    \ workspaces."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjU4ODQwOQ-user
  name: Users
- description: "Whispir’s Events API allows users to capture, create and manage Events\
    \ (including Incidents, Issues, Places, and Assets). Link multi-channel communications\
    \ to each event to track report and disseminate information textually and Geo-spatially."
  externalDocs:
    url: https://developers.whispir.com/c2NoOjY5MTI5NA-event
  name: Events
- description: The Imports endpoint allows users to import a CSV/JSON/XML file of
    contacts (via /resources) to be added to the contacts database.
  externalDocs:
    url: https://developers.whispir.com/c2NoOjM4OTQzOTI4-import
  name: Imports
- description: The Auth endpoint allows users to retrieve and verify a JWT authentication
    token.
  externalDocs:
    url: https://developers.whispir.com/b3A6NDEyMTEzOA-create-an-auth-token
  name: Auth
paths:
  /workspaces/{workspaceId}/messages:
    get:
      description: |-
        List all sent messages for the workspace.

        Pagination is available.
      operationId: getMessages
      parameters:
      - description: The identifier for the workspace.
        explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          example: 9A4C5521FFC7B15B
          pattern: "^[A-F0-9]+"
          type: string
        style: simple
      - description: The API key for authentication.
        explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          type: string
        style: simple
        x-isApiKey: true
      - description: Application specific mime-type.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/vnd.whispir.message-v1+json
          enum:
          - application/vnd.whispir.message-v1+json
          - application/vnd.whispir.bulkmessage-v1+json
          - application/vnd.whispir.message-v1+xml
          - application/vnd.whispir.bulkmessage-v1+xml
          type: string
        style: simple
        x-isContentType: true
      - description: The number of records to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 20
          type: number
        style: form
      - description: The record number to start returning from.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The order in which you require the results to be returned. Either
          ‘asc’ or ‘desc’
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "The fields that you require the ordering to be performed on.\
          \ Multiple fields can be provided, separated by a comma."
        explode: true
        in: query
        name: sortFields
        required: false
        schema:
          example: "lastName,jobTitle"
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.whispir.message-v1+json:
              examples:
                Response:
                  value:
                    messages:
                    - subject: Test Message
                      to: "61400400400"
                      repetitionCount: 0
                      repeatDays: 0
                      repeatHrs: 0
                      repeatMin: 0
                      from: Test User
                      direction: OUTGOING
                      responseCount: "0"
                      createdTime: 1647467664000
                      link:
                      - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8
                        rel: self
                        method: GET
                        host: api.au.whispir.com
                        port: -1
                      whatsappValidMessage: true
                      validBody: true
                      validSubject: true
                    - subject: Test Message
                      to: "61400400400"
                      repetitionCount: 0
                      repeatDays: 0
                      repeatHrs: 0
                      repeatMin: 0
                      from: Test User
                      direction: OUTGOING
                      responseCount: "0"
                      createdTime: 1647466923000
                      link:
                      - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/E9F52215AD0787EBECDD691916955C1E
                        rel: self
                        method: GET
                        host: api.au.whispir.com
                        port: -1
                      whatsappValidMessage: true
                      validBody: true
                      validSubject: true
                    status: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_200_response'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Message-Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "400":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: Your request was malformed and could not be processed
                      by the server. Please try again
                    errorText: Bad Request
                    errorDetail: "java.io.EOFException: No content to map to Object\
                      \ due to end of input"
              schema:
                $ref: '#/components/schemas/getMessages_400_response'
          description: |-
            Invalid or missing request parameters.

            Inspect the request parameters and ensure that all required parameters are supplied.

            Note the error text in the response and update the request accordingly.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "401":
          content:
            application/json:
              examples:
                Example:
                  value:
                    links: []
                    errorSummary: Your username and password combination was incorrect.
                      Please check your authentication details and try again
                    errorText: Unauthorized
                    errorDetail: ""
              schema:
                $ref: '#/components/schemas/getMessages_401_response'
          description: |-
            Invalid or no credentials passed in the request.

            Inspect the authorisation header and ensure that a valid authentication has been provided.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "403":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Forbidden
              schema:
                $ref: '#/components/schemas/getMessages_403_response'
          description: |-
            Authorisation credentials passed and accepted but the account doesn't have permission.

            * Inspect the authorisation header and ensure that a valid authentication has been provided.
            * Returned when HTTP is used instead of HTTPS.
            * Returned when invalid API key is used.
            * Returned when you have tried to make more API calls than your allowed quota (QPS). Refer to API rate limits.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "404":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The resource that you have requested does not exist.
                      Please check the identifier and try again
                    errorText: Not Found
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_404_response'
          description: "The requested URL doesn't exist.\n\nThe requested resource\
            \ was not found. Inspect the ID in the URL that was used and ensure that\
            \ it's valid.\n\nAlso, inspect the Accept and Content-Type headers that\
            \ are being used to make sure they’re correct for the URL that is being\
            \ requested."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "405":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The method that you have tried to use is not allowed
                      for this resource
                    errorText: Method Not Allowed
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_405_response'
          description: |-
            The requested resource doesn't support the supplied verb.

            Inspect the HTTP method that was used in the request and ensure that it's valid for the resource being requested.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "413":
          content:
            application/json:
              examples:
                Example:
                  value: HTTP content length exceeded 10485760 bytes.
              schema:
                description: The request length error message.
                enum:
                - HTTP content length exceeded 10485760 bytes.
                type: string
          description: |-
            The request payload was too large.

            The maximum allowable request size is 10MB (10485760 bytes).
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "415":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The media type you have supplied in the request\
                      \ does not match any of the available on the server. Please\
                      \ check the documentation for the correct media-type definitions,\
                      \ or contact support@whispir.com to determine what media-type\
                      \ you should be using"
                    errorText: Unsupported Media Type
                    errorDetail: "javax.ws.rs.NotSupportedException: Cannot consume\
                      \ content type"
              schema:
                $ref: '#/components/schemas/getMessages_415_response'
          description: "The request was unsuccessful because the requested content\
            \ type is not supported by the API.\n\nThe application client can use\
            \ this response to determine if it's asking for a supported version of\
            \ a resource. On receiving this response, the client can query the developer\
            \ documentation to determine the appropriate version for the requested\
            \ resource.\n\nIn most cases, this is due to the user not supplying the\
            \ correct Accept or Content-Type header for the requested URL."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "Your request did not contain all of the information\
                      \ required to perform this method. Please check your request\
                      \ for the required fields to be passed in and try again. Alternatively,\
                      \ contact your administrator or support@whispir.com for more\
                      \ information"
                    errorText: "A Template name already exists in the current Workspace,\
                      \ please select another name and try again.\n"
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_422_response'
          description: "The request is formed correctly but due to some condition\
            \ it can’t be processed. For example, email is required and it's not provided\
            \ in the request.\n\nThe request did not contain all the information required\
            \ to perform this method. Check your request for the required fields to\
            \ be passed in and try again. The offending fields will be specified in\
            \ the error text of the response."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "500":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Internal Server Error
              schema:
                $ref: '#/components/schemas/getMessages_500_response'
          description: |-
            An internal error occurred when processing the request.

            Attempt the request again and if the HTTP 500 error re-occurs contact the Whispir Support Team.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "501":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The method that you have tried to use is not implemented\
                      \ for this resource. Please check the documentation, or contact\
                      \ your administrator. Alternatively you can get further information\
                      \ by contacting support@whispir.com"
                    errorText: Not Implemented
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_501_response'
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource.

            The method being used is not implemented for this resource. Check the documentation for the specific resource type.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
      summary: List messages
      tags:
      - Messages
      x-sdkOperation: list
      x-accepts: application/json
    post:
      description: "Communications are the core of what the Whispir Platform API offers\
        \ as a service to customers.    \nWhispir has the ability to send communications\
        \ across 7 different channels in a single API request:  \n- **SMS** - up to\
        \ 1600 characters per message, premium routes, delivery receipts  \n- **Email**\
        \ - free email messaging with HTML and Plain Text support \n- **Voice** -\
        \ high quality outbound voice calls delivered to mobiles and landlines within\
        \ seconds  \n- **Rich Messages** - personalised, targeted rich messaging to\
        \ drive conversations  \n- **Twitter** - support for instant publishing to\
        \ multiple twitter accounts  \n- **Facebook** - simplify the process of publishing\
        \ to multiple facebook accounts instantaneously  \n- **RSS** - easily generate\
        \ RSS feeds for consumption by other services\n\nAll communications are driven\
        \ from the Messages endpoint resources within the API. This endpoint allows\
        \ a user to perform the following tasks:\n1.  Create and send a new message\n\
        2.  Retrieve a list of previously sent messages  \n\n* * *\n\n### Using Templates\n\
        Messages can simply specify the `messageTemplateId` in the messages request,\
        \ instead of specifying the entire content payload.\n\nThe message template\
        \ can then easily be changed (using either another API request or by logging\
        \ in to the Whispir Platform) and the part of the application sending the\
        \ messages does not need to be altered.  \n\n* * *\n\n### Callback Parameters\n\
        \nThe callback API allows you to pass in any values (parameters), which you\
        \ want to be returned as is, included in the callback response.\n\n* * *\n\
        \n### Using Events\n\nOnce you have created an [Event](./openapi.yaml/paths/~1workspaces~1{workspaceId}~1events/post)\
        \ in the Whispir Platform, the next logical step is to be able to deliver\
        \ a notification about the event.\n\n```json\n{\n  \"to\": \"+1000000000\"\
        ,\n  \"subject\": \"Event Notification\",\n  \"eventId\": \"2EE7FEA3343662BE\"\
        ,\n  \"body\": \"An event has occurred: @@summary@@. A resolution is required\
        \ by @@actionDate1@@.\"\n}\n```\n\n* * *\n\n### Message Variables\n\nWhispir\
        \ allows the use of message variables to dynamically customise the content\
        \ in a message. Available variables include [Native Tags](#native-tags), [System\
        \ Tags](#system-tags), and [Custom Tags](#custom-tags). Each of these variables\
        \ are described in the following sections.\n\n#### Native Tags\n\nWhen sending\
        \ messages using the Whispir API you can automatically customise your communications\
        \ including recipients information as part of the message. This is facilitated\
        \ by the Whispir's native message variables [or native tags] that will be\
        \ resolved against the recipients MRIs.\n> **IMPORTANT**: the following tags\
        \ can be included in any SMS, email or voice message. They are NOT meant to\
        \ be used in rich messages. In this case recipient-specific fields can be\
        \ populated using the Whispir JavaScript API.\n\nContact Tag | Description\n\
        ---------|----------\n @@first_name@@ | Recipient’s first name.  <br/> For\
        \ example, John. \n @@last_name@@ | Recipient’s last name. <br/> For example,\
        \ Smith.\n @@recipient_email@@ | Recipient’s primary email address.<br/>For\
        \ example, jsmith@email.com \n @@recipient_sms@@ | Recipient’s primary mobile\
        \ phone number. <br/><br/>For example, 61400400400. \n @@recipient_voice@@\
        \ | Recipient’s primary phone number for voice calls.<br/><br/> For example,\
        \ 61400400400. \n @@pin@@ | Whispir message retrieval service call back PIN\
        \ (only populated when voice is used). <br/><br/> For example, 1234. \n @@recipient_role@@\
        \ | Resolves to the recipient’s ‘Role’ field.<br/><br/> For example, Manager.\
        \ \n @@recipient_additionalrole@@ | Resolves to the recipient’s ‘Additional\
        \ Role’ field. <br/><br/>For example, Team Leader. \n @@team_name1@@ | Resolves\
        \ to the recipient’s ‘Team Name’ field.<br/><br/> For example, Red Team. \n\
        \ @@messagelabel@@| Resolves to the label field of the sent message. <br/><br/>For\
        \ example, Incident #1234. \n @@messagecategories@@ | Resolves to the list\
        \ of categories used in the message, separated with commas. <br/><br/>For\
        \ example, Product Update. \n \n``` JSON\nPOST https://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+json\nAccept: application/vnd.whispir.message-v1+json\n\
        \ \n{\n   \"to\" : \"John_Wick.1143139@Contact.whispir.sg\",\n   \"subject\"\
        \ : \"Test SMS Message with tags\",\n   \"body\" : \"Hi @@first_name@@. This\
        \ is your message.\"\n}\n```\n``` XML\nPOST https://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+xml\nAccept: application/vnd.whispir.message-v1+xml\n\
        \ \n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:message\
        \ xmlns:ns2=\"http://schemas.api.whispir.com\">\n    <to>John_Wick.1143139@Contact.whispir.sg</to>\n\
        \    <subject>Test SMS Message with tags</subject>\n    <body>Hi @@first_name@@.\
        \ This is your message.</body>\n</ns2:message>\n```\n \nThe main difference\
        \ with the examples seen so far is given here by the `to` field of the payloads,\
        \ where a Contact MRI is specified. This reference allows the Whispir platform\
        \ to inspect the Contact to retrieve the Contact tags.\n\n* * *\n\n#### System\
        \ Tags\n\nWhen sending messages using the Whispir API, you can automatically\
        \ include system-generated information via system variables. Each of them\
        \ will resolve to the value obtained when you send the message. Unlike the\
        \ preceding ones, they don't depend from the Contacts information stored in\
        \ Whispir, so they can be included also in messages where the recipients are\
        \ not represented by their MRI.\n\nSystem Tag | Description|\n---------|----------\n\
        @@dd@@| Current day with leading zero. <br/> For example, 08.\n@@mm@@ | Current\
        \ month with leading zero. <br/> For example, 06.\n@@yy@@| Current year, short\
        \ form.<br/>For example, 22.\n@@yyyy@@| Current year, long form. <br/><br/>For\
        \ example, 2022.\n@@day@@ | Day in spoken form.<br/><br/> For example, Wednesday.\
        \ \n@@month@@| Month in spoken form. <br/><br/> For example, January. \n@@hrs@@|\
        \ Current hour with leading zero, in 24 hour format.<br/><br/> For example,\
        \ 16. \n@@min@@ | Current minute with leading zero.<br/><br/> For example,\
        \ 45. \n@@date@ | Current date in format (yyyy-mm-dd)<br/><br/> For example,\
        \ 2022-02-02.\n@@time@@| Current time in 24-hour format. <br/><br/>For example,\
        \ 16:37. \n \n* * *\n\n#### Custom Tags\n\nUsing message attributes and message\
        \ Templates allows developers to cleanly separate these responsibilities.\
        \ This is done by combining the message channels being used for the message\
        \ and the data driving the message.\nUnder the operational point of view this\
        \ solution is achieved with two steps:\n1. Creating a Template including attributes\n\
        2. Using the Template and replacing the values for the attributes\n\nWhispir’\
        s API customers can simplify their requests by using the message attributes\
        \ directly from the API.\nUsing message attributes allows to achieve flexibility\
        \ in the communications. With this solution, Developers just need to take\
        \ care of the data behind a message while the Marketing team can focus on\
        \ the presentation or messaging channels within the message.\n> Unlike native\
        \ tags, user-defined attributes require Whispir administrative assistance\
        \ to enable and are configured at the account level. Please contact your Whispir\
        \ account manager or the [Whispir Support Team](mailto='support@whispir.com')\
        \ if interested in using them. Whispir’s API only accepts message attributes\
        \ containing alpha-numeric ASCII characters.\nWe are about to see a full example\
        \ where an initial fixed message has been adapted to be reusable.\n\n**Without\
        \ Custom Tags**\n\n```JSON\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+json\nAccept: application/vnd.whispir.message-v1+json\n\
        \ \n{\n   \"to\" : \"jsmith@test.com\", \n   \"subject\" : \"Reminder\", \n\
        \   \"body\" : \"Your invitation to the Acme Event will expire on 13/06/2019\
        \ at 23:59:59\", \n   \"email\" : { \n      \"type\" : \"text/plain\", \n\
        \      \"body\" : \"Your invitation to the Acme Event will expire on 13/06/2019\
        \ at 23:59:59\" \n   }\n}\n```\n```XML\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+xml\nAccept: application/vnd.whispir.message-v1+xml\n\
        \ \n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:message\
        \ xmlns:ns2=\"http://schemas.api.whispir.com\">\n    <to>jsmith@test.com</to>\n\
        \    <subject>Reminder</subject>\n    <body>Your invitation to the Acme Event\
        \ will expire on 13/06/2019 at 23:59:59</body>\n    <email>\n        <type>text/plain</type>\n\
        \        <body>Your invitation to the Acme Event will expire on 13/06/2019\
        \ at 23:59:59</body>\n    </email>\n</ns2:message>\n```\n\n**With Custom Tags**\n\
        \n#### Using Message Variables in Templates\n\n```JSON\nStep 1 - Creating\
        \ a Template including the attributes\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/templates\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.template-v1+json\nAccept: application/vnd.whispir.template-v1+json\
        \ \n \n{ \n   \"messageTemplateName\" : \"Event Reminder\", \n   \"subject\"\
        \ : \"Reminder:\", \n   \"body\" : \"Your invitation to the Acme Event will\
        \ expire on @@event_expiry@@ at @@event_expiry_time@@\", \n   \"email\" :\
        \ { \n      \"type\" : \"text/plain\", \n      \"body\" : \"Your invitation\
        \ to the Acme Event will expire on @@event_expiry@@.\" \n   }\n}\nResponse\
        \ - template created\n201 - Created\nLocation: http://api.<region>.whispir.com/workspaces/{workspaceId}/templates/DACADB02209CC93C\n\
        { \n   ...\n   \"id\": \"DACADB02209CC93C\", \n   ...\n}\nStep 2 - Using Template\
        \ including attributes to send the message\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+json\nAccept: application/vnd.whispir.message-v1+json\n\
        \ \n{ \n   \"to\" : \"jsmith@test.com\", \n   \"messageTemplateId\" : \"DACADB02209CC93C\"\
        , \n   \"messageattributes\" : {\n      \"attribute\" : [{\n         \"name\"\
        \ : \"event_expiry\",     \n         \"value\" : \"13/06/2019\"   \n     \
        \ },{\n         \"name\" : \"event_expiry_time\",     \n         \"value\"\
        \ : \"23:59:59\"   \n      }]\n   } \n}\n```\n```XML\nStep 1 - Creating a\
        \ Template including attributes\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/templates\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.template-v1+xml\nAccept: application/vnd.whispir.template-v1+xml\n\
        \ \n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ns3:template xmlns:ns3=\"\
        http://schemas.api.whispir.com\" \n              xmlns:ns2=\"http://schemas.api.whispir.com/dap\"\
        >\n  <messageTemplateName>Event Reminder</messageTemplateName>\n  <subject>Reminder</subject>\n\
        \  <body>Your invitation to the Acme Event will expire on @@event_expiry@@\
        \ at @@event_expiry_time@@</body>\n  <email>\n     <type>text/plain</type>\n\
        \     <body>Your invitation to the Acme Event will expire on @@event_expiry@@\
        \ at @@event_expiry_time@@</body>\n  </email>\n</ns3:template>\nResponse -\
        \ template created\n201 - Created\nLocation: http://api.<region>.whispir.com/workspaces/{workspaceId}/templates/DACADB02209CC93C\n\
        <?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns3:template\
        \ xmlns:ns2=\"http://schemas.api.whispir.com/dap\" xmlns:ns3=\"http://schemas.api.whispir.com\"\
        >\n    ...\n    <id>DACADB02209CC93C</id>\n    ...\n<ns3:template>\nStep 2\
        \ - Using Template including attributes to send the message\nPOST http://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+xml\nAccept: application/vnd.whispir.message-v1+xml\n\
        \ \n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ns3:template xmlns:ns3=\"\
        http://schemas.api.whispir.com\" \n              xmlns:ns2=\"http://schemas.api.whispir.com/dap\"\
        >\n   <to>jsmith@test.com</to>\n   <messageTemplateId>DACADB02209CC93C</messageTemplateId>\n\
        \   <messageattributes>\n      <attribute>\n         <element>\n         \
        \   <name>@@event_expiry@@</name>\n            <value>13/06/2019</value>\n\
        \         </element>\n         <element>\n            <name>@@event_expiry_time@@</name>\n\
        \            <value>23:59:59</value>\n         </element>\n      </attribute>\n\
        \   </messageattributes>\n<ns3:template>\n```\nUsing this message template\
        \ ID and now using the message attribute @@event_expiry@@, the updated code\
        \ example (combining the message template and message attribute) is far simpler\
        \ to implement and is more efficient.\n\n* * *\n\n### Scheduled Messages\n\
        \n#### Timezone - Scheduling rules\n\nUsing the Whispir API you can schedule\
        \ messages to be sent later, both once or repeatedly with the possibility\
        \ to specify the interval between the sessions. The service is available for\
        \ SMS, email, voice, rich messages \nA message is scheduled according to the\
        \ timezone set in the Whispir account of the user who initiates the message\
        \ request. This setting can be found in the Whispir Portal under \"Settings\"\
        ->\"User Manager\"->\"View/Edit\". Whispir DOES NOT honor the timezone where\
        \ the sender or the message recipient are currently located in\nFor example\
        \ if the user’s time zone is set to UTC in their Whispir profile then messages\
        \ are scheduled to be sent as per UTC, even if the user triggers the message\
        \ while sitting in Singapore (+8). So please ensure that any scheduled communication\
        \ is sent at the appropriate/preferred time\nAlso, changing the user's timezone\
        \ setting after the message is triggered DOES NOT change the original scheduled\
        \ time.\n\n#### Sending messages at a later date\n\n```JSON\nPOST https://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+json\nAccept: application/vnd.whispir.message-v1+json\n\
        ONCE\nIn this sample we will schedule a single message to be delivered at\
        \ 3:55pm on 14 February 2019\n{\n    \"to\" : \"jsmith@test.com\",\n    \"\
        subject\" : \"Test scheduled email message\",\n    \"email\" : {\n       \
        \ \"body\" : \"This is my scheduled content\",\n        \"type\" : \"text/plain\"\
        \n    },\n    \"messageType\" : \"SCHEDULED\",\n    \"scheduleType\" : \"\
        ONCE\",\n    \"scheduleDate\" : \"14/02/2019 15:55\"\n}\nREPEAT\nIn this sample\
        \ we will will schedule 10 messages to be delivered every hour starting from\
        \ 3:55pm on 14 February 2019\n{\n    \"to\" : \"jsmith@test.com\",\n    \"\
        subject\" : \"Test scheduled email message\",\n    \"email\" : {\n       \
        \ \"body\" : \"This is my scheduled content\",\n        \"type\" : \"text/plain\"\
        \n    },\n    \"messageType\" : \"SCHEDULED\",\n    \"scheduleType\" : \"\
        REPEAT\",\n    \"scheduleDate\" : \"14/02/2019 15:55\",\n    \"repetitionCount\"\
        \ : \"10\",\n    \"repeatDays\" : \"0\",\n    \"repeatHrs\" : \"1\",\n   \
        \ \"repeatMin\" : \"0\"\n}\n```\n```XML\nPOST https://api.<region>.whispir.com/workspaces/{workspaceId}/messages\n\
        \ \nAuthorization: Basic am9obi5zbWl0aDpteXBhc3N3b3Jk\nx-api-key: your_api_key\n\
        Content-Type: application/vnd.whispir.message-v1+json\nAccept: application/vnd.whispir.message-v1+json\n\
        ONCE\nIn this sample we will schedule a single message to be delivered at\
        \ 3:55pm on 14 February 2019\n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"\
        yes\"?>\n<ns2:message xmlns:ns2=\"http://schemas.api.whispir.com\" xmlns:ns3=\"\
        http://schemas.api.whispir.com/dap\">\n    <to>john.smith@test.com</to>\n\
        \    <subject>Test scheduled email message</subject>\n    <email>\n      \
        \  <body>This is my scheduled content</body>\n        <type>text/plain</type>\n\
        \    </email>\n    <messageType>SCHEDULED</messageType>\n    <scheduleType>ONCE</scheduleType>\n\
        \    <scheduleDate>14/02/2019 15:55</scheduleDate>\n</ns2:message>\nREPEAT\n\
        In this sample we will will schedule 10 messages to be delivered every hour\
        \ starting from 3:55pm on 14 February 2019\n<?xml version=\"1.0\" encoding=\"\
        UTF-8\" standalone=\"yes\"?>\n<ns2:message xmlns:ns2=\"http://schemas.api.whispir.com\"\
        \ xmlns:ns3=\"http://schemas.api.whispir.com/dap\">\n    <to>john.smith@test.com</to>\n\
        \    <subject>Test scheduled email message</subject>\n    <email>\n      \
        \  <body>This is my scheduled content</body>\n        <type>text/plain</type>\n\
        \    </email>\n    <messageType>SCHEDULED</messageType>\n    <scheduleType>REPEAT</scheduleType>\n\
        \    <scheduleDate>14/02/2019 15:55</scheduleDate>\n    <repetitionCount>10</repetitionCount>\n\
        \    <repeatDays>0</repeatDays>\n    <repeatHrs>1</repeatHrs>\n    <repeatMin>0</repeatMin>\n\
        </ns2:message>\n```"
      operationId: postMessages
      parameters:
      - description: The identifier for the workspace.
        explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          example: 9A4C5521FFC7B15B
          pattern: "^[A-F0-9]+"
          type: string
        style: simple
      - description: The API key for authentication.
        explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          type: string
        style: simple
        x-isApiKey: true
      - description: Application specific mime-type.
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/vnd.whispir.message-v1+json
          enum:
          - application/vnd.whispir.message-v1+json
          - application/vnd.whispir.bulkmessage-v1+json
          - application/vnd.whispir.message-v1+xml
          - application/vnd.whispir.bulkmessage-v1+xml
          type: string
        style: simple
        x-isContentType: true
      - description: Application specific mime-type.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/vnd.whispir.message-v1+json
          enum:
          - application/vnd.whispir.message-v1+json
          - application/vnd.whispir.bulkmessage-v1+json
          - application/vnd.whispir.message-v1+xml
          - application/vnd.whispir.bulkmessage-v1+xml
          type: string
        style: simple
        x-isContentType: true
      requestBody:
        content:
          application/vnd.whispir.message-v1+json:
            examples:
              SMS:
                value:
                  to: "61400400400"
                  subject: Test Message
                  body: This is the body of my test SMS message
              Email:
                value:
                  to: test@test.com
                  subject: Test Message
                  email:
                    body: This is the body of my test Email message
                    footer: This is the footer of my message
                    type: text/plain
              Email with attachment:
                value:
                  to: test@test.com
                  subject: Test Message
                  email:
                    body: This is the body of my test Email message
                    footer: This is the footer of my message
                    type: text/html
                    resources:
                      attachments:
                      - attachmentName: sample.json
                        attachmentDesc: Sample
                        derefUri: eyAKICAgICJzYW1wbGUiOiB0cnVlCn0=
              Voice:
                value:
                  to: "61400400400"
                  subject: Test Message
                  voice:
                    header: "This is the introduction, read out to the recipient prior\
                      \ to any key press."
                    body: "This is the body of the voice call, read out after the\
                      \ key press"
                    type: "Pin:,ConfCall:,ConfAccountNo:,ConfPinNo:,ConfModPinNo:"
              SMS with Message Variables:
                value:
                  to: John_Wick.1143139@Contact.whispir.au
                  subject: Test Message
                  body: Hi @@first_name@@. The current day is @@day@@.
              SMS & Email:
                value:
                  to: "61400400400,test@test.com"
                  subject: Test Message
                  body: This is the body of my test SMS message
                  email:
                    body: This is the body of my test Email message
                    footer: This is the footer of my message
                    type: text/plain
              SMS & Web Page:
                value:
                  to: "61400400400"
                  subject: Test Message
                  body: This is the body of my test SMS message. @@web_link@@
                  web:
                    body: This is the content of my web publishing or Rich Push Message
                    type: text/plain
              SMS - Single Scheduled Message:
                value:
                  to: "61400400400"
                  subject: Single Scheduled Message
                  body: This is a single scheduled SMS message.
                  messageType: SCHEDULED
                  scheduleType: ONCE
                  scheduleDate: 14/02/2019 15:55
              SMS - Repeated Scheduled Message:
                value:
                  to: "61400400400"
                  subject: Repeated Scheduled Message
                  body: This is a repeated scheduled SMS message.
                  messageType: SCHEDULED
                  scheduleType: REPEAT
                  scheduleDate: 14/02/2019 15:55
                  repetitionCount: 10
                  repeatDays: 0
                  repeatHrs: 1
                  repeatMin: 0
            schema:
              $ref: '#/components/schemas/message'
        description: "Message object needed to create message. At least one of the\
          \ Body fields must be populated [SMS, email, voice or web]."
        required: true
      responses:
        "200":
          content:
            application/vnd.whispir.message-v1+json:
              examples:
                Response:
                  value:
                    to: "61400400400"
                    subject: Repeated Scheduled Message
                    body: This is a repeated scheduled SMS message.
                    messageType: SCHEDULED
                    scheduleDate: 01/04/2022 13:40
                    scheduleType: REPEAT
                    repetitionCount: 10
                    repeatDays: 0
                    repeatHrs: 0
                    repeatMin: 1
                    link:
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/89518B11A0458848AC3926AEAA48BA14
                      rel: self
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    validBody: true
                    validSubject: true
                    whatsappValidMessage: true
              schema:
                $ref: '#/components/schemas/message'
          description: The response code for a message that is accepted for scheduled
            delivery.
          headers:
            Content-Type:
              $ref: '#/components/headers/Message-Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
            Location:
              description: The URI to fetch details of the resource.
              example: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/vnd.whispir.message-v1+json:
              examples:
                Response:
                  value: Your request has been accepted for processing
              schema:
                description: The status of the response acceptance.
                enum:
                - Your request has been accepted for processing
                type: string
          description: The response code for a message that is accepted for immediate
            delivery.
          headers:
            Content-Type:
              $ref: '#/components/headers/Message-Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
            Location:
              description: The URI to fetch details of the resource.
              example: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: Your request was malformed and could not be processed
                      by the server. Please try again
                    errorText: Bad Request
                    errorDetail: "java.io.EOFException: No content to map to Object\
                      \ due to end of input"
              schema:
                $ref: '#/components/schemas/getMessages_400_response'
          description: |-
            Invalid or missing request parameters.

            Inspect the request parameters and ensure that all required parameters are supplied.

            Note the error text in the response and update the request accordingly.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "401":
          content:
            application/json:
              examples:
                Example:
                  value:
                    links: []
                    errorSummary: Your username and password combination was incorrect.
                      Please check your authentication details and try again
                    errorText: Unauthorized
                    errorDetail: ""
              schema:
                $ref: '#/components/schemas/getMessages_401_response'
          description: |-
            Invalid or no credentials passed in the request.

            Inspect the authorisation header and ensure that a valid authentication has been provided.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "403":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Forbidden
              schema:
                $ref: '#/components/schemas/getMessages_403_response'
          description: |-
            Authorisation credentials passed and accepted but the account doesn't have permission.

            * Inspect the authorisation header and ensure that a valid authentication has been provided.
            * Returned when HTTP is used instead of HTTPS.
            * Returned when invalid API key is used.
            * Returned when you have tried to make more API calls than your allowed quota (QPS). Refer to API rate limits.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "404":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The resource that you have requested does not exist.
                      Please check the identifier and try again
                    errorText: Not Found
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_404_response'
          description: "The requested URL doesn't exist.\n\nThe requested resource\
            \ was not found. Inspect the ID in the URL that was used and ensure that\
            \ it's valid.\n\nAlso, inspect the Accept and Content-Type headers that\
            \ are being used to make sure they’re correct for the URL that is being\
            \ requested."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "405":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The method that you have tried to use is not allowed
                      for this resource
                    errorText: Method Not Allowed
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_405_response'
          description: |-
            The requested resource doesn't support the supplied verb.

            Inspect the HTTP method that was used in the request and ensure that it's valid for the resource being requested.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "413":
          content:
            application/json:
              examples:
                Example:
                  value: HTTP content length exceeded 10485760 bytes.
              schema:
                description: The request length error message.
                enum:
                - HTTP content length exceeded 10485760 bytes.
                type: string
          description: |-
            The request payload was too large.

            The maximum allowable request size is 10MB (10485760 bytes).
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "415":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The media type you have supplied in the request\
                      \ does not match any of the available on the server. Please\
                      \ check the documentation for the correct media-type definitions,\
                      \ or contact support@whispir.com to determine what media-type\
                      \ you should be using"
                    errorText: Unsupported Media Type
                    errorDetail: "javax.ws.rs.NotSupportedException: Cannot consume\
                      \ content type"
              schema:
                $ref: '#/components/schemas/getMessages_415_response'
          description: "The request was unsuccessful because the requested content\
            \ type is not supported by the API.\n\nThe application client can use\
            \ this response to determine if it's asking for a supported version of\
            \ a resource. On receiving this response, the client can query the developer\
            \ documentation to determine the appropriate version for the requested\
            \ resource.\n\nIn most cases, this is due to the user not supplying the\
            \ correct Accept or Content-Type header for the requested URL."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "Your request did not contain all of the information\
                      \ required to perform this method. Please check your request\
                      \ for the required fields to be passed in and try again. Alternatively,\
                      \ contact your administrator or support@whispir.com for more\
                      \ information"
                    errorText: "A Template name already exists in the current Workspace,\
                      \ please select another name and try again.\n"
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_422_response'
          description: "The request is formed correctly but due to some condition\
            \ it can’t be processed. For example, email is required and it's not provided\
            \ in the request.\n\nThe request did not contain all the information required\
            \ to perform this method. Check your request for the required fields to\
            \ be passed in and try again. The offending fields will be specified in\
            \ the error text of the response."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "500":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Internal Server Error
              schema:
                $ref: '#/components/schemas/getMessages_500_response'
          description: |-
            An internal error occurred when processing the request.

            Attempt the request again and if the HTTP 500 error re-occurs contact the Whispir Support Team.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "501":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The method that you have tried to use is not implemented\
                      \ for this resource. Please check the documentation, or contact\
                      \ your administrator. Alternatively you can get further information\
                      \ by contacting support@whispir.com"
                    errorText: Not Implemented
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_501_response'
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource.

            The method being used is not implemented for this resource. Check the documentation for the specific resource type.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
      summary: Send a message
      tags:
      - Messages
      x-sdkOperation: create
      x-isPost: true
      x-content-type: application/vnd.whispir.message-v1+json
      x-accepts: application/json
  /workspaces/{workspaceId}/messages/{messageId}:
    get:
      description: "Each of the URLs specified in the response can be accessed using\
        \ the REL and appropriate METHOD to perform the specified functionality.\n\
        \n**Rel Attribute Descriptions**\n\n* * *\n\n- **self:** Retrieves the current\
        \ message.  \n\n- **summaryStatus:** Returns the status information of the\
        \ message as a messagestatus object, in a summary view.  \n\n- **detailedStatus:**\
        \ Returns the status information of the message as a messagestatus object,\
        \ in a detailed view.  \n\n- **summaryResponses:** Returns the response information\
        \ of the message as a messageresponse object, in a summary view.  \n\n- **detailedResponses:**\
        \ Returns the response information of the message as a messageresponse object,\
        \ in a detailed view.  \n- **summaryResponsesWithResponseRule:** Returns the\
        \ response information of the message as a messageresponse object, filtered\
        \ by the Response Rule (if one was used) in a summary view.  \n\n- **detailedResponsesWithResponseRule:**\
        \ Returns the response information of the message as a messageresponse object,\
        \ filtered by the Response Rule (if one was used) in a detailed view."
      operationId: getMessageById
      parameters:
      - description: The identifier for the workspace.
        explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          example: 9A4C5521FFC7B15B
          pattern: "^[A-F0-9]+"
          type: string
        style: simple
      - description: The API key for authentication.
        explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          type: string
        style: simple
        x-isApiKey: true
      - description: Application specific mime-type.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/vnd.whispir.message-v1+json
          enum:
          - application/vnd.whispir.message-v1+json
          - application/vnd.whispir.bulkmessage-v1+json
          - application/vnd.whispir.message-v1+xml
          - application/vnd.whispir.bulkmessage-v1+xml
          type: string
        style: simple
        x-isContentType: true
      - description: The identifier for the message.
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          pattern: "^[A-F0-9]+"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.whispir.message-v1+json:
              examples:
                Response:
                  value:
                    to: "61400400400"
                    subject: Test Message
                    body: This is the body of my test SMS message
                    label: ""
                    type: default
                    repetitionCount: 0
                    dlr:
                      period: ""
                      rule: ""
                      type: ""
                      publishToWeb: false
                      expiryDay: 0
                      expiryHour: 0
                      expiryMin: 0
                      feedIds: ""
                      bool: false
                    repeatDays: 0
                    repeatHrs: 0
                    repeatMin: 0
                    voice:
                      body: Test message
                      type: "Pin:,ConfCall:,ConfAccountNo:,ConfPinNo:,ConfModPinNo:"
                    from: testUser.au@User.whispir.com
                    direction: OUTGOING
                    responseCount: "0"
                    social:
                      social:
                      - id: social
                      - id: social_long
                    createdTime: 1647466923000
                    link:
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8
                      rel: self
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messagestatus?view=summary
                      rel: summaryStatus
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messagestatus?view=detailed
                      rel: detailedStatus
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messageresponses?view=summary&filter=default
                      rel: summaryResponses
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messageresponses?view=detailed&filter=default
                      rel: detailedResponses
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messageresponses?view=summary&filter=responserule
                      rel: summaryResponsesWithResponseRule
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messageresponses?view=detailed&filter=responserule
                      rel: detailedResponsesWithResponseRule
                      method: GET
                      host: api.au.whispir.com
                      port: -1
                    validBody: true
                    validSubject: true
                    whatsappValidMessage: true
              schema:
                $ref: '#/components/schemas/message'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/Message-Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "400":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: Your request was malformed and could not be processed
                      by the server. Please try again
                    errorText: Bad Request
                    errorDetail: "java.io.EOFException: No content to map to Object\
                      \ due to end of input"
              schema:
                $ref: '#/components/schemas/getMessages_400_response'
          description: |-
            Invalid or missing request parameters.

            Inspect the request parameters and ensure that all required parameters are supplied.

            Note the error text in the response and update the request accordingly.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "401":
          content:
            application/json:
              examples:
                Example:
                  value:
                    links: []
                    errorSummary: Your username and password combination was incorrect.
                      Please check your authentication details and try again
                    errorText: Unauthorized
                    errorDetail: ""
              schema:
                $ref: '#/components/schemas/getMessages_401_response'
          description: |-
            Invalid or no credentials passed in the request.

            Inspect the authorisation header and ensure that a valid authentication has been provided.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "403":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Forbidden
              schema:
                $ref: '#/components/schemas/getMessages_403_response'
          description: |-
            Authorisation credentials passed and accepted but the account doesn't have permission.

            * Inspect the authorisation header and ensure that a valid authentication has been provided.
            * Returned when HTTP is used instead of HTTPS.
            * Returned when invalid API key is used.
            * Returned when you have tried to make more API calls than your allowed quota (QPS). Refer to API rate limits.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "404":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The resource that you have requested does not exist.
                      Please check the identifier and try again
                    errorText: Not Found
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_404_response'
          description: "The requested URL doesn't exist.\n\nThe requested resource\
            \ was not found. Inspect the ID in the URL that was used and ensure that\
            \ it's valid.\n\nAlso, inspect the Accept and Content-Type headers that\
            \ are being used to make sure they’re correct for the URL that is being\
            \ requested."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "405":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The method that you have tried to use is not allowed
                      for this resource
                    errorText: Method Not Allowed
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_405_response'
          description: |-
            The requested resource doesn't support the supplied verb.

            Inspect the HTTP method that was used in the request and ensure that it's valid for the resource being requested.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "413":
          content:
            application/json:
              examples:
                Example:
                  value: HTTP content length exceeded 10485760 bytes.
              schema:
                description: The request length error message.
                enum:
                - HTTP content length exceeded 10485760 bytes.
                type: string
          description: |-
            The request payload was too large.

            The maximum allowable request size is 10MB (10485760 bytes).
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "415":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The media type you have supplied in the request\
                      \ does not match any of the available on the server. Please\
                      \ check the documentation for the correct media-type definitions,\
                      \ or contact support@whispir.com to determine what media-type\
                      \ you should be using"
                    errorText: Unsupported Media Type
                    errorDetail: "javax.ws.rs.NotSupportedException: Cannot consume\
                      \ content type"
              schema:
                $ref: '#/components/schemas/getMessages_415_response'
          description: "The request was unsuccessful because the requested content\
            \ type is not supported by the API.\n\nThe application client can use\
            \ this response to determine if it's asking for a supported version of\
            \ a resource. On receiving this response, the client can query the developer\
            \ documentation to determine the appropriate version for the requested\
            \ resource.\n\nIn most cases, this is due to the user not supplying the\
            \ correct Accept or Content-Type header for the requested URL."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "Your request did not contain all of the information\
                      \ required to perform this method. Please check your request\
                      \ for the required fields to be passed in and try again. Alternatively,\
                      \ contact your administrator or support@whispir.com for more\
                      \ information"
                    errorText: "A Template name already exists in the current Workspace,\
                      \ please select another name and try again.\n"
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_422_response'
          description: "The request is formed correctly but due to some condition\
            \ it can’t be processed. For example, email is required and it's not provided\
            \ in the request.\n\nThe request did not contain all the information required\
            \ to perform this method. Check your request for the required fields to\
            \ be passed in and try again. The offending fields will be specified in\
            \ the error text of the response."
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "500":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Internal Server Error
              schema:
                $ref: '#/components/schemas/getMessages_500_response'
          description: |-
            An internal error occurred when processing the request.

            Attempt the request again and if the HTTP 500 error re-occurs contact the Whispir Support Team.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "501":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: "The method that you have tried to use is not implemented\
                      \ for this resource. Please check the documentation, or contact\
                      \ your administrator. Alternatively you can get further information\
                      \ by contacting support@whispir.com"
                    errorText: Not Implemented
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_501_response'
          description: |-
            The HTTP method being used has not yet been implemented for the requested resource.

            The method being used is not implemented for this resource. Check the documentation for the specific resource type.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
      summary: Retrieve a message
      tags:
      - Messages
      x-sdkOperation: retrieve
      x-accepts: application/json
  /workspaces/{workspaceId}/messages/{messageId}/messagestatus:
    get:
      description: "Whispir will automatically monitor the status of each message\
        \ after it has been sent to each recipient. Using the message status information,\
        \ you are able to determine who received the message, what exact time they\
        \ received it, on what message channel (SMS, Email, Voice, Web, Push Notification),\
        \ whether they replied to the message, what time they replied, and on what\
        \ messaging channel.  \n\n\n  Each message progresses through various states,\
        \ from Pending to Acknowledged.\n\n\n### Message Status Descriptions\n\n-\
        \ **Pending (PENDING):** The message has not yet been processed by Whispir.\
        \ It is in a queue and will be processed shortly.\n- **Sent (SENT):** The\
        \ message has been sent from Whispir to the recipient, however, there has\
        \ been no acknowledgement from the recipient via read receipt that the message\
        \ has arrived.\n- **Received (DELIVRD):**\n  - **Email:** Whispir has received\
        \ acknowledgement via a read receipt that the message has arrived in the inbox.\n\
        \  - **SMS:** Received status can mean one of two things for SMS.\n    1.\
        \  The message has been received by the network and is being processed for\
        \ delivery to the handset.  \n        How long the message stays in this state\
        \ is up to the telco.\n    2.  The message has been received by the handset\
        \ and confirmed by the telco.\n- **Acknowledged (READ):** Whispir has received\
        \ an intended response from the recipient, either by reply SMS, Email or Voice\
        \ prompt\n- **Undeliverable (FAILED):** Whispir was not able to deliver the\
        \ message to the intended recipient on the specified channel. This may be\
        \ due to incorrect information e.g. wrong phone number or email address, or\
        \ due to poor network coverage.\n\nUsing the API, developers are able to access\
        \ this status information at either a Summary or Detailed level.\n\nThe first\
        \ thing a developer must do in order to retrieve the status of a sent message\
        \ is retrieve the message using the API.\n\n### Retrieve Summary Status\n\n\
        Using the links provided in the message response, the user can simply make\
        \ a new API request to retrieve the summaryStatus URL.\n\nIn the example above,\
        \ the summaryStatus URL is:\n\nSo the request would look as follows:\n\n`GET\
        \ /messages/069BF68E5E0FE99B/messagestatus?view=summary`\n\nAs this is a GET\
        \ request we don’t have to provide any message body.\n\nThis response states\
        \ that of the 2 people that were sent the message, both of them Acknowledged\
        \ it by sending a response.\n\nYour application can use this information to\
        \ easily determine the numbers of recipients in each state and show a small\
        \ graph.\n\n### Retrieve Detailed Status\n\nSimilar to the summaryStatus,\
        \ using the links provided in the message response, the user can simply make\
        \ a new API request to retrieve the detailedStatus URL.\n\n`GET /messages/069BF68E5E0FE99B/messagestatus?view=detailed`\n\
        \nAs this is a GET request we don’t have to provide any message body.\n\n\
        The user can easily use this information to receive a far more detailed status\
        \ breakdown of (for each recipient):\n\n*   The name of the recipient\n* \
        \  The channel type (SMS, Email, Voice, Web)\n*   The sent timestamp for each\
        \ channel\n*   The received timestamp for each channel\n*   The acknowledged\
        \ timestamp for each channel\n*   The undeliverable timestamp (only present\
        \ when the channel is undeliverable)\n*   The overall status for this recipient\
        \ (PENDING, SENT, DELIVRD, READ, FAILED)\n*   The information text describing\
        \ how this message has progressed.\n\nOnce you have processed the status information,\
        \ the next likely piece of information you will be looking to find is the\
        \ content of the responses (if any). The section on Message Responses describes\
        \ how to retrieve this information.\n"
      operationId: getMessageStatus
      parameters:
      - description: The identifier for the workspace.
        explode: false
        in: path
        name: workspaceId
        required: true
        schema:
          example: 9A4C5521FFC7B15B
          pattern: "^[A-F0-9]+"
          type: string
        style: simple
      - description: The API key for authentication.
        explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          type: string
        style: simple
        x-isApiKey: true
      - description: Application specific mime-type.
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/vnd.whispir.messagestatus-v1+json
          enum:
          - application/vnd.whispir.messagestatus-v1+json
          - application/vnd.whispir.messagestatus-v1+xml
          type: string
        style: simple
        x-isContentType: true
      - description: The number of records to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 20
          type: number
        style: form
      - description: The record number to start returning from.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: The order in which you require the results to be returned. Either
          ‘asc’ or ‘desc’
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "The fields that you require the ordering to be performed on.\
          \ Multiple fields can be provided, separated by a comma."
        explode: true
        in: query
        name: sortFields
        required: false
        schema:
          example: "lastName,jobTitle"
          type: string
        style: form
      - description: Enter message id
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          example: 44F4DA8F04755430BEC5A0E1E2154EBA
          type: string
        style: simple
      - description: The view for the message status.
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: summary
          enum:
          - summary
          - detailed
          type: string
        style: form
      - description: The filter for the message status.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: default
          enum:
          - default
          - responserule
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.whispir.messagestatus-v1+json:
              examples:
                Summary:
                  value:
                    messageStatuses:
                    - link:
                      - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messagestatus
                        rel: self
                        method: GET
                        host: api.au.whispir.com
                        port: -1
                      categories:
                      - name: Sent
                        recipientCount: 0
                        percentageTotal: 0.0%
                      - name: Pending
                        recipientCount: 0
                        percentageTotal: 0.0%
                      - name: Received
                        recipientCount: 1
                        percentageTotal: 100.0%
                      - name: Acknowledged
                        recipientCount: 0
                        percentageTotal: 0.0%
                      - name: Undeliverable
                        recipientCount: 0
                        percentageTotal: 0.0%
                    link: []
                Detailed:
                  value:
                    messageStatuses:
                    - name: "61400400400"
                      info: '  SMS message sent. SMSCODE=008 SMS message received
                        by device. SMSCODE=001 '
                      link:
                      - uri: https://api.au.whispir.com/workspaces/9A4C5521FFC7B15B/messages/747AB7E716C1802B6476784AEB5C9BB8/messagestatus?view=detailed
                        rel: self
                        method: GET
                        host: api.au.whispir.com
                        port: -1
                      status:
                      - type: email
                        status: ""
                        destination: ""
                      - type: sms
                        status: DELIVRD
                        destination: "61400400400"
                        sentTimestamp: 1647466923000
                        receivedTimestamp: 1647466931000
                      - type: voice
                        status: ""
                        destination: ""
                    status: '1 to 1 of 1    '
                    link: []
              schema:
                $ref: '#/components/schemas/messageStatus'
          description: OK
          headers:
            Content-Type:
              $ref: '#/components/headers/MessageStatus-Content-Type'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "400":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: Your request was malformed and could not be processed
                      by the server. Please try again
                    errorText: Bad Request
                    errorDetail: "java.io.EOFException: No content to map to Object\
                      \ due to end of input"
              schema:
                $ref: '#/components/schemas/getMessages_400_response'
          description: |-
            Invalid or missing request parameters.

            Inspect the request parameters and ensure that all required parameters are supplied.

            Note the error text in the response and update the request accordingly.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "401":
          content:
            application/json:
              examples:
                Example:
                  value:
                    links: []
                    errorSummary: Your username and password combination was incorrect.
                      Please check your authentication details and try again
                    errorText: Unauthorized
                    errorDetail: ""
              schema:
                $ref: '#/components/schemas/getMessages_401_response'
          description: |-
            Invalid or no credentials passed in the request.

            Inspect the authorisation header and ensure that a valid authentication has been provided.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "403":
          content:
            application/json:
              examples:
                Example:
                  value:
                    message: Forbidden
              schema:
                $ref: '#/components/schemas/getMessages_403_response'
          description: |-
            Authorisation credentials passed and accepted but the account doesn't have permission.

            * Inspect the authorisation header and ensure that a valid authentication has been provided.
            * Returned when HTTP is used instead of HTTPS.
            * Returned when invalid API key is used.
            * Returned when you have tried to make more API calls than your allowed quota (QPS). Refer to API rate limits.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Expires:
              $ref: '#/components/headers/Expires'
        "404":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errorSummary: The resource that you have requested does not exist.
                      Please check the identifier and try again
                    errorText: Not Found
                    errorDetail: ""
                    link: []
              schema:
                $ref: '#/components/schemas/getMessages_404_response'
          description: "The requested URL doesn't exist.\n\nThe requested resource\
            \ was not found. Inspect the ID in the URL that was used and ensure that\
[...]
